{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div>
        <h1><a href="{% url 'profiles' %}">All Website Users</a></h1>
        <br>
    </div>
    <div class="row">
        {% for profile in page %}
            <div class="col">
                <center>
                <div>
                    {{profile.num_likes}}
                    <img class="mb-1" src="{% static 'images/favicon.ico' %}" width="20">
                </div>
                {% if profile.avatar.url %}
                <div class="miniavatar">
                    <a href="{% url 'oneprofile' id=profile.id %}"><img class="rounded" src="{{profile.avatar.url}}"
                        alt={{profile.user.name}}>
                    </a>
                </div>   
                {% endif %}
                <div class="alname">
                    {% if profile.name %}
                    {% else %}
                    <h2><a href="{% url 'oneprofile' id=profile.id %}">{{profile.user.username}}</a></h2>
                    {% endif %}
                </div>  
                </center>
            </div>
        {% endfor %}
    </div>
{% include 'paginator.html' %}
{% endblock content %}