{% extends 'base.html' %}
{% load embed_video_tags %}
{% load class_tag %}
{% block content %}
<div class="container">
    <h1><a href="{% url 'onesong' id=song.id %}">{{song.name}}</a></h1>
    <br>
    <div class="row row-cols-auto">
        <div class="col">
            {% if song.album.cover %}
                <div>
                    <img class="rounded" src="{{song.album.cover}}" alt="{{song.album.name}}" width="320">
                </div>
            {% endif %}
            <br>
            <div class="span">
                <h3 class="red">Band:&nbsp&nbsp&nbsp</h3>
                <h3><a href="{% url 'oneband' id=song.album.band.id %}">{{song.album.band}}</a></h3>
            </div>
            <br>
            <div class="span">
                <h3 class="red">Album:&nbsp&nbsp&nbsp</h3>
                <h3><a href="{% url 'onealbum' id=song.album.id %}">{{song.album.name}}</a></h3>
            </div>
            <br>
            <div class="span">
                <h3 class="red">Duration:&nbsp&nbsp&nbsp</h3>
                <h3>{{song.duration|time:"i:s"}}</h3>
            </div>
            <br>
        </div>
        <div class="col">
            <div class="span" id="video">
                {% video song.video '440x320' %}
            </div>
            {% include 'like.html' with inst=song|get_class id=song.id %}
        </div>
    </div>
</div>
<br>

{% include 'comments.html' %}
{% endblock content %}
