{% extends 'base.html' %}
{% load static %}

{% block content %}
<center>
  <br>
  <br>
  <br>
  <div class="mplogo">
    <img src="{% static 'images/mp logo.png' %}" alt="bands" width=1000>
  </div>
  <br>
  <p class="h3">Made by metalheads for metalheads</p>
  <br>

</center>
<br>
<div class="container">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="band-item">
          <center>
            <div id="homephoto">
              <a href="{% url 'bands'%}"><img class="rounded" src="{% static 'images/big4.png' %}" alt={{bands}}></a>
            </div>
            <h2><a href="{% url 'bands'%}">Bands</a></h2>
            <br>
          </center>
        </div>
      </div>
      <div class="col">
        <div class="band-item">
          <center>
            <div id="homephoto">
              <a href="{% url 'albums'%}"><img class="rounded" src="{% static 'images/sabbath.jpg' %}" alt={{albums}}></a>
            </div>
            <h2><a href="{% url 'albums'%}">Albums</a></h2>
            <br>
          </center>
        </div>
      </div>
      <div class="col">
        <div class="band-item">
          <center>
            <div id="homephoto">
              <a href="{% url 'musicians'%}"><img class="rounded" src="{% static 'images/jeff.jpg' %}" alt={{musicians}}></a>
            </div>
            <h2><a href="{% url 'musicians'%}">Musicians</a></h2>
            <br>
          </center>
        </div>
      </div>
      <div class="col">
        <div class="band-item">
          <center>
            <div id="homephoto">
              <a href="{% url 'songs'%}"><img class="rounded" src="{% static 'images/dio.png' %}" alt={{songs}}></a>
            </div>
            <h2><a href="{% url 'songs'%}">Songs</a></h2>
            <br>
          </center>
        </div>
      </div>
      <div class="col">
        <div class="band-item">
          <center>
            <div id="homephoto">
              <a href="{% url 'years' n=default_year %}"><img class="rounded" src="{% static 'images/albums.jpg' %}" alt={{years}}></a>
            </div>
            <h2><a href="{% url 'years' n=default_year %}">Years</a></h2>
            <br>
          </center>
        </div>
      </div>
      <div class="col">
        <div class="band-item">
          <center>
            <div id="homephoto">
              <a href="{% url 'countries'%}"><img class="rounded" src="{% static 'images/map.png' %}" alt={{countries}}></a>
            </div>
            <h2><a href="{% url 'countries'%}">Countries</a></h2>
            <br>
          </center>
        </div>
      </div>
    </div> 
  </div>
</div>
{% endblock content %}
