a img{
    transition: transform 0.3s;
}
body{
    color: white
}
#search{
    width: 100px;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: rgb(192, 0, 0);
}
a:hover img{
    transform: scale(1.5);
}
button{
    border-radius: 10px;
    background-color: rgb(192, 0, 0)
    
}
.red{
    color: rgb(192, 0, 0)
}
.grid-item{
    text-align: center;
    height: 80%;
    background-color: rgba(red, green, blue, 255);
    color: White;
    border-radius: 25px;
}
.grid-item img{
    align-content: center;
    width: 90%;
    height: 75%;
    border-radius: 25px;
}
.band-photos{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 300px;
    transition: transform 0.25s;
}
.band-photos:hover{
    transform: scale(1.05);
}
.logo{
    height: 100px;
    width: 130px;
    flex: 0 0 auto;
    object-position: top;
    background-color: black;
    border-radius: 10px;
    
}
.logo img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: contain;
}
.span{
    
    display: flex;
}
.bandinfo{
    margin: 60px
}
.alname{
    height: 75px;
}
#video{
    margin-left: auto;
}
.mplogo{
    align-items: center;
}
.mplogo img{
    width: 70%;
    object-fit: cover;
}
#homephoto{
    width: 130px;
    height: 90px;
}
#homephoto img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.onebl{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.onebp{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.songname{
    margin-left: 30px;
}
.login{
    width: 300px;
}
.login input{
    width: 300px;
} 
.flag{
    width: 140px;
    height: 90px;
}
input[type=range]::-webkit-slider-thumb {
    background: rgb(192, 0, 0);
}
input[type=range]::-moz-range-thumb {
    background: rgb(192, 0, 0);
}
input[type=range]::-ms-thumb {
    background: rgb(192, 0, 0);
}
textarea{
    height: 100px;
    width: 450px;
}
.musphoto img{
    height: 150px;
    width: auto;
}
.avatar img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}
.miniavatar img{
    width: 130px;
    height: 130px;
    object-fit: cover;
    border-radius: 5px;
}
