{% extends 'base.html' %}
{% load static %}

{% block content %}
<div>
    <h1><a href="{% url 'musicians' %}">All Metal Musicians</a></h1>
    <br>
</div>
<div class="row">
    {% for musician in page %}
    <div class="col">
        <div class="band-item">
            <center>
                <div>
                    {{musician.num_likes}}
                    <img class="mb-1" src="{% static 'images/favicon.ico' %}" width="20">
                </div>
                <div class="logo">
                    {% if musician.photo %}
                    <a href="{% url 'onemusician' id=musician.id %}"><img src="{{musician.photo}}" alt={{musician.name}}></a>
                    {% else %}
                    <a href="{% url 'onemusician' id=musician.id %}">
                        <img class="rounded" src="{% static 'images/avatar.jpg' %}" alt={{musician.name}} width=200>
                    </a>
                    {% endif %}
                </div>
                <h4><a href="{% url 'onemusician' id=musician.id %}">{{musician}}</a></h4>
                <br>
            </center>
        </div>
    </div>
    {% endfor %}
</div>
{% include 'paginator.html' %}
{% endblock content %}