{% extends 'base.html' %}
{% load static %}
{% load class_tag %}
{% block content %}

<div class='container'>
    <div class="row row-cols-auto">
        <div class="col">
            <h1><a href="{% url 'onemusician' id=musician.id %}">{{musician}}</a></h1>
            {% if musician.photo %}
            <div>
                <img class="rounded" src="{{musician.photo}}" alt={{musician.name}} width=320>
            </div>
            {% else %}
                <a href="{% url 'onemusician' id=musician.id %}">
                    <img class="rounded" src="{% static 'images/avatar.jpg' %}" alt={{musician.name}} width=320>
                </a>
            {% endif %}
            <br>
        </div>
        <div class="col mt-3">
            <div class="span">
                <h3 class="red">Band(s):&nbsp&nbsp&nbsp</h3>
                <div>
                    {% for band in musician.bands.all %}
                    <h3><a href="{% url 'oneband' id=band.id %}">{{band}}&nbsp&nbsp</a></h3>
                    {% endfor %}
                    {% for band in musician.exbands.all %}
                    <h3><a href="{% url 'oneband' id=band.id %}">{{band}}&nbsp&nbsp</a></h3>
                    {% endfor %}
                </div>
            </div>
            <br>
            <div class="span">
                <h3 class="red">Country: </h3>
                <a href="{% url 'onecountry' id=musician.country.id %}">
                    <h3>&nbsp&nbsp&nbsp{{musician.country.name}}&nbsp</h3>
                </a>
                {% if musician.country.flag %}
                <img src="{{musician.country.flag}}" alt={{musician.name}} height="35">
                {% endif %}
            </div>
            <br>
            <div class="span">
                <h3 class="red">Profession(s):&nbsp&nbsp&nbsp</h3>
                <div>
                    <h3>{{musician.profession}}&nbsp&nbsp</h3>
                </div>
            </div>
            <br>
            <div class="span">
                <h3 class="red">Age:&nbsp&nbsp&nbsp</h3>
                <div>
                    <h3>{{musician.birth_date}}</h3>
                </div>
            </div>
            {% if musician.death_date %}
            <div class="span">
                <h3 class="red">R.I.P.:&nbsp&nbsp&nbsp</h3>
                <div>
                    <h3>{{musician.death_date}}</h3>
                </div>
            </div>
            {% endif %}
            {% include 'like.html' with inst=musician|get_class id=musician.id %}
        </div>
    </div>
    <div>
        {% endblock content %}