{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div>
        <h1><a href="{% url 'albums' %}">All Metal Albums</a></h1>
        <br>
    </div>
    <div class="row">
        {% for album in page %}
            <div class="col">
                <center>
                <div>
                    {{album.num_likes}}
                    <img class="mb-1" src="{% static 'images/favicon.ico' %}" width="20">
                </div>
                {% if album.cover %}
                    <a href="{% url 'onealbum' id=album.id %}"><img class="rounded" src="{{album.cover}}"
                            alt={{album.name}} width=130>
                    </a>
                {% endif %}
                <div class="alname">
                    <h4><a href="{% url 'onealbum' id=album.id %}">{{album}}</a></h4>
                </div>  
                <br>
                </center>
            </div>
        {% endfor %}
    </div>
{% include 'paginator.html' %}
{% endblock content %}