{% extends 'base.html' %}
{% load static %}
{% load class_tag %}
{% block content %}
<div class='container'>
    <h1><a href="{% url 'onealbum' id=album.id %}">{{album}}</a></h1>
    <div class="row row-cols-auto">
        <div class="col">
            {% if album.cover %}
            <div>
                <img class="rounded" src="{{album.cover}}" alt={{album.name}} width=320>
            </div>
            {% endif %}
            <br>
            <div class="span">
                <h3 class="red">Band:&nbsp&nbsp&nbsp</h3>
                <h3><a href="{% url 'oneband' id=album.band.id%}">{{album.band}}</a></h3>
            </div>
            <br>
            <div class="span">
                <h3 class="red">Release year:&nbsp&nbsp&nbsp</h3>
                <h3><a href="{% url 'years' n=album.release_year.number%}">{{album.release_year.number}}</a></h3>
            </div>
            {% include 'like.html' with inst=album|get_class id=album.id %}
        </div>
        <div class="col">
            <br>
            <h3 class="red">Songs: </h3>
            <br>
            {% for song in album.songs.all %}
                <div class="songname">
                    <h3>
                        <a href="{% url 'onesong' id=song.id %}">
                        {{song.name}}
                        </a>   -   {{song.duration|time:'i:s' }}
                    </h3>
                </div>
            <br>
            {% endfor %}
        </div>
    </div>
    <div>
        {% include 'comments.html' %}
        {% endblock content %}